.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-checkbox{
    border-radius: 50%;
}

.logos{
    padding-right: 9%;
}

.col-lg-11{
    width: 81.66%;
}

// .rounded-checkbox .form-check-input[type="checkbox"] {
//     border-radius: 50%;
// }

.bg-checkbox{
    background-color: transparent;
}

.rounded-checkbox .form-check-input {
    background-color: transparent;
    border-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }

  .rounded-checkbox .form-check-input:checked {
    background-color: transparent;
  }

  .rounded-checkbox .form-check-input:checked::after {
    content: "";
    display: block;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 3px;
    left: 5px;
  }