.hello{
    position: relative;
    margin-top: 90%;
}

.col2{
    padding-right: 1%;
}

.font{
    font-size:small;
}
.text-muted{
    font-size: large;
}

.card {
    background: linear-gradient(135deg, #eef2f3 0%,rgb(99, 99, 183) 30%, #8e9eab 100%);
    border: none;
    color: #fff;
}
.card h4 {
    font-weight: 700;
}
.card .data {
    font-size: 2rem;
    font-weight: 700;
}
.nav-tabs .nav-link.active {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #007bff;
}
.chart {
    height: 300px;
    margin-top: 20px;
}

.hello2{
    margin-left: 15%;
    margin-top: 6%;

}
.hello3{
    margin-left: 127%;
}

